<div class="container">

  <div class="row">

    <div class="col-md-8">

      <h1 class="text-center">商品一覧</h1>

      <table class="table">

        <thead>

          <tr>

            <th>商品名</th>

          </tr>

        </thead>

        <tbody>

          <% @items.each do |item| %>

            <tr>

              <th><%= item.name %></th>

              <th><%= link_to "詳細",admin_item_path(item.id),class:'btn btn-sm btn-info' %></th>

              <th><%= link_to "編集",edit_admin_item_path(item.id),class:'btn btn-sm btn-warning' %></th>

            </tr>

          <% end %>

        </tbody>

      </table>

    </div>

    <div class="col-md-3 text-right mt-5">

      <%= link_to "商品新規登録",new_admin_item_path,class:'btn btn-success' %>

    </div>

  </div>

</div>