<div class="container">

  <div class="row text-center">

    <div class="col-12 mt-5">

      <h1>About</h1>

    </div>

    <div class="col-12 mt-3">

      <p>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>

        お子様からお年寄りの方までお召し上がりいただけるよう、<br>

        様々なバリエーションをご用意しております。<br>

        また、全国へ発送可能なので『いつ』でも『どこ』でもご注文いただけます。<br>

        ぜひご注文ください。
      </p>

    </div>

    <div class="col-12 my-4">

      <%= image_tag 'no 2.jpeg',size:"300x150" %>

    </div>

  </div>

</div>



