<div class="container mt-5">

  <div class="row mt-5">

    <div class="col-6 mx-auto">

      <p class="bg-light">
        ようこそ、ながのCAKEへ!<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員ではない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>

    </div>

  </div>

</div>