<div class="container">

  <div class="row">

    <div class="col-md-5 mx-auto">

      <h1 class="text-center">会員一覧</h1>

      <table class="table">

        <thead>

          <tr>

            <th>名前</th>

          </tr>

        </thead>

        <tbody>

          <% @customers.each do |customer| %>

            <tr>

              <td><%= customer.last_name %></td>

              <td><%= customer.first_name %></td>

              <td><%= link_to "詳細",admin_customer_path(customer.id),class:'btn btn-sm btn-info' %></td>

            </tr>

          <% end %>

        </tbody>

      </tabel>

    </div>

  </div>

</div>
